body {
    background: skyblue;
}

h1 {
    text-align: center;
}
h2 {
    text-align: right; font-size: smaller;
}
h3 {
    text-align: left; font-size: medium;
}
img#profile-pic {
    text-align: right; width: 200px;
}
div#img-container {
    width: auto; text-align: right;
}
div#about-me {
    text-align: left;
}
div.list-blocks {
    width: 50%; text-align: center; float: left;
}
ul.lists {
    text-align: left;
}