/*Heading Styles*/
body {
    background: #87ceeb;
}

h1 {
    text-align: center;
}
h2 {
    text-align: right; font-size: smaller;
}
h3 {
    text-align: left; font-size: medium;
}
h4 {
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
}

/*Other Styles*/

img#profile-pic {
    text-align: right; width: 200px;
}
div#img-container {
    width: auto; text-align: right;
}
div#about-me {
    text-align: left;
}
div.list-blocks {
    width: 33%; float: left;
}
ul.lists {
    text-align: left;
    list-style-position: inside;
    margin-left: 40px;
}
div.color-block {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    width: 25%;
}