body {
    background: skyblue;
}

h1 {
    text-align: center;
}
h2 {
    text-align: right; font-size: smaller;
}
h3 {
    text-align: left; font-size: medium;
}
img#profile-pic {
    float: right; width: 200px;
}
div#img-container {
    width: auto; text-align: right;
}
div#about-me {
    text-align: left;
}